#ui-hud { position: absolute; inset: 0; z-index: 100; display: none; pointer-events: none; }
#debug-info { position: absolute; top: 10px; left: 10px; color: #fff; font-size: 10px; text-shadow: 1px 1px #000; font-family: monospace; }
#crosshair {
    position: absolute; top: 50%; left: 50%; width: 16px; height: 16px;
    transform: translate(-50%, -50%); pointer-events: none;
}
#crosshair::before, #crosshair::after { content: ''; position: absolute; background: #fff; mix-blend-mode: difference; }
#crosshair::before { top: 7px; width: 16px; height: 2px; }
#crosshair::after { left: 7px; width: 2px; height: 16px; }

#hotbar-container { position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); pointer-events: auto; }
#hotbar { display: flex; background: rgba(0,0,0,0.8); padding: 4px; border: 2px solid #111; gap: 4px; }
.slot { width: 44px; height: 44px; border: 2px solid #555; background: rgba(255,255,255,0.1); position: relative; }
.slot.active { border: 3px solid #fff; background: rgba(255,255,255,0.3); transform: translateY(-2px); }
.slot canvas { width: 100%; height: 100%; image-rendering: pixelated; }

#controls-layout {
    position: absolute; bottom: 80px; width: 100%; display: flex; 
    justify-content: space-between; padding: 0 20px; box-sizing: border-box; align-items: flex-end;
}
#joy-base { width: 100px; height: 100px; border-radius: 50%; background: rgba(255,255,255,0.1); border: 2px solid #fff; position: relative; pointer-events: auto; }
#joy-stick { position: absolute; top: 30px; left: 30px; width: 40px; height: 40px; background: #fff; border-radius: 50%; opacity: 0.5; pointer-events: none; }

#actions-zone { display: grid; grid-template-columns: 1fr 1fr; gap: 8px; pointer-events: auto; }
.btn-main { width: 65px; height: 65px; border-radius: 12px; border: 2px solid #fff; background: rgba(0,0,0,0.6); color: #fff; font-size: 10px; font-weight: bold; }
.btn-jump { grid-column: span 2; height: 50px; background: rgba(91,168,72,0.6); width: 100%; }

.full-overlay { position: absolute; inset: 0; z-index: 1000; display: flex; align-items: center; justify-content: center; background: rgba(0,0,0,0.75); backdrop-filter: blur(5px); }
.mc-panel { background: #c6c6c6; border: 4px solid #000; padding: 30px; width: 280px; text-align: center; box-shadow: inset 4px 4px #fff, inset -4px -4px #555, 10px 10px 0 rgba(0,0,0,0.2); }
.mc-btn { width: 100%; padding: 16px; margin: 10px 0; background: #7c7c7c; border: 3px solid #000; color: #fff; font-weight: bold; font-size: 16px; cursor: pointer; box-shadow: inset 3px 3px #fff, inset -3px -3px #333; }
.mc-btn:active { transform: scale(0.98); box-shadow: inset -2px -2px #fff, inset 2px 2px #333; }
.title { color: #fff; text-shadow: 4px 4px #000; font-size: 32px; margin-top: 0; letter-spacing: 2px; }
.ver { font-size: 9px; margin-top: 15px; color: #555; font-weight: bold; }
