/* Оптимизация отображения пикселей для всех элементов */
canvas, img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
}

#hotbar-container canvas {
    image-rendering: pixelated;
}
